{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
	<link rel='stylesheet' href='{% static "css/style.css" %}'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<title>Music Player</title>
</head>

<body>
	<form action="" class="search-wrapper cf" method="GET">
        <input name="query_element" type="text" placeholder="Search here..." required="" maxlength="100">
        <button type="submit" value="Search">Search</button>
	</form>


	{% for link in response_message %}
	<div class="video_link" style = "display: table;">
		<span>
			<img style = "vertical-align: middle; display: table-cell;" src ={{ link.2 }} />
		</span>
		<span style = "vertical-align:middle; display: table-cell;">
			<a  href={{ link.1 }}> {{ link.0 }} </a>
		</span> 
	</div> 
	<br>
 	{% endfor %}
	
</body>

</html>
