<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Music | Welcome</title>
    {% load staticfiles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="{% static "js/vendor/jquery.js" %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{% static "js/vendor/modernizr.js" %}"></script>

<script type="text/javascript">
     $( document ).ready(function() {
        if ({{error_message}}) {
            alert("Server under high load, try again later");
        }
    });
</script>
  </head>
<body>
<div class="fixed">
	<div class="inner-wrap">
	<nav class="tab-bar df-tab-bar hide-for-large-upx stickyx">
		<section class="left tab-bar-section">
			<h1 class="title">
				<span class="orangex ng-binding">Bieber Player</span> <span class="dim ng-binding"></span>
			</h1>
		</section>
		<section class="right-small">  
            <a style="margin-left: -50px;" href="mailto:team_music@ecse428.se"> 
                Contact Us 
            </a>
        </section>
	</nav>
	   <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li>
                    <label>Menu</label>
                </li>
                <li>
                    <a href="#/">HOME</a>
                </li>
            </ul>
       </aside>
	</div>
</div>
	<div class="animated-page-hero ng-scope">
        {% load staticfiles %} 
        <img src="{% static "img/NYC2.jpg" %}" alt="" class="big-hero-img show-for-large-up animated fadeInDown">
        <img src="{% static "img/NYC2.jpg" %}" alt="" class="big-hero-img show-for-medium-only animated fadeInDown">
        <img src="{% static "img/NYC2.jpg" %}" alt="" class="big-hero-img show-for-small-only animated fadeInDown">
        <div class="row-wrapper">
            <div class="row">
                <div class="small-12 columns text-center">
                    <div class="hero-text ">
                        <h1 class="animated fadeInUp _1 "><span class="orangeX">Team</span> Music</h1>
                        <hr class="animated fadeInUp _2">
                        <h3 class="sub-hero show-for-large-upx animated fadeInDown _3">Host your own party</h3> <br>
                        <div class="animated fadeInDown _4">
                            <a class="button warning animated big rubberBand _8" href="/room/newroom">
                                Create new room
                            </a>
                            <a class="button warning animated big rubberBand _8" href="/room/guest_joins_room">         Enter a Party    
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>
