
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Player</title>
    {% load staticfiles %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link href="{% static "css/style.css" %}" rel = 'stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<script>
	  
	function embed_video(link) {

		var url = link;
		var pattern = /^(http|https)?:\/\/[a-zA-Z0-9-\.]+\.[a-z]{2,4}/;

		if (!pattern.test(url)) {
			html_code = '<iframe id="embeded_video" width="640" height="480" style="background: black;"> </iframe>'
			$('#player').html(html_code);
			alert("Failed to play song. Try again");

		}
		else {
			link += "?autoplay=1"
			html_code = '<iframe id="embeded_video" width="640" height="480" src=' + link +'> </iframe>'
			$('#player').html(html_code);
		}
	};

	

	</script>

</head>

{% load staticfiles %}
<body> 
    <header>
      <form id="search" action="http:{{room}}" method="GET">
        <input id="query" name="query_element" type="text" placeholder="Search here..." required="" maxlength="100">
        {% load staticfiles %}
        <input id="submit" type="image" src="{% static "img/search.png" %}" alt="Search">
      </form>
      <h1>BIEBER PLAYER</h1>
      <nav>
        <a href="mailto:team_music@ecse428.se" style="color: white;"> Contact Us </a>
      </nav>
    </header>
    <div id="results">
    	{% if messages %}{% for message in messages %}<p><strong><center>{{ message }}</center></strong></p>{% endfor %}{% endif %}
      	{% for link in response_message %}
		<div class="video_link" style = "display: table; margin-bottom: 20px;">
			<span>
				<img style = "vertical-align: middle; display: table-cell;" src ={{ link.2 }} />
			</span>
			<span style = "vertical-align:middle; display: table-cell;">
				{{ link.0 }}
				<form action="{% url 'addsong' room_id client_ip %}" method="post">
				{% csrf_token %}
					<input type="hidden" value="{{link.1}}" name="link">
					<input type="submit" value="Add Song">
				</form>
			</span> 
		</div>
 	{% endfor %}
    </div>
    <div id="player">
      <iframe id="embeded_video" width="640" height="480" style="background: black;"> </iframe>
    </div>
    <div id="playlist">
        {% if song_list%}
    <ul class="list-group pull-left" style="width: 550px; margin-left: 30px;">
    {% for link in song_list %}
     <li class="list-group-item" >
     	<h5><span id="songLink{{forloop.counter0}}">{{link.link}}</span>
     		<a class = "playButton" href = "javascript: embed_video('{{ link.link }}');" class="pull-right" style="border-left: 1px solid black">Play 
     		</a>
     		<form class="pull-right" class="removeButton" style="border-left: 1px solid black" action="/room/{{ room_id }}/remove" method="post">
				{% csrf_token %}
					<input type="hidden" value="{{link.link}}" name="link">
					<input type="submit" value="Remove">
			</form>
     	</h5> 
     </li>
    {% endfor %}
    </ul>
    {% else %}
    <h5> <a href="#"> Add music to the room to start playing</a> </h5>
    {% endif %}
    </div>

<!-- 	<div class="row" style="margin-top: 20px;">
	<div class="large-3 columns"><br></div>
	<div class="large-5 columns">
		<form action="http:{{room}}" class="search-wrapper" method="GET">
			<input name="query_element" type="text" placeholder="Search here..." required="" maxlength="100">
		</form>
	</div>
	<div class="large-4 columns">
		<button type="submit" value="Search">Search</button>
		<a style="margin-left: 200px;" href="mailto:team_music@ecse428.se"> Contact Us </a>
	</div>
	</div>


	<div class="row">
	
	<div class="medium-6 columns">
	<h5><ins><b> Search Results: </b></ins></h5>
	{% for link in response_message %}
		<div class="video_link" style = "display: table; margin-bottom: 20px;">
			<span>
				<img style = "vertical-align: middle; display: table-cell;" src ={{ link.2 }} />
			</span>
			<span style = "vertical-align:middle; display: table-cell;">
				<a  href="#"> {{ link.0 }} </a>
			</span> 
		</div>
 	{% endfor %}
	</div>
	
    <div class="medium-6 columns" style="border-left: 1px solid black; height: 700px;">
    <div id="embeded_video" style="text-align: center"> <iframe id="embeded_video" width="420" height="315" style="background: black; margin-top: 30px;"> </iframe></div>
    <br>
    <h5 style="text-align: left; margin-left: 100px;"><ins><b> Room Playlist: </b></ins></h5>
    {% if song_list%}
    <ul class="list-group pull-left" style="width: 550px; margin-left: 30px;">
    {% for link in song_list %}
     <li class="list-group-item" ><h5>{{ link.link }}		<a href = "javascript: embed_video('{{ link.link }}');" class="pull-right" style="border-left: 1px solid black">  &nbsp; play </a></h5> </li>
    {% endfor %}
    </ul>
    {% else %}
    <h5> <a href="#"> Add music to the room to start playing</a> </h5>
    {% endif %}
	</div>

		
    </div> -->



	
</body>
<script type="text/javascript">

	function addRemoveMusicListener(){
      var removeButton = $(".removeButton");
      removeButton.click(function(){
      	var link = $(this).parent().find("span").val();
      	var room_id = getRoomId();
       	$.post('/room/'+room_id+'link'+link);
        //window.location.replace("/room/" + room_id.val());
      })
    }

	function getRoomId(){
		var pattern = /\d+/g;
		var path = window.location.pathname;
		return pattern.exec(path);
	}

	(function(){
		// Check user status
		$.get('/room/user/status')
		.then(function(success){
			if(success.STATUS == "G"){
				$(".playButton").hide();
				$(".removeButton").hide();
			}else{
				addRemoveMusicListener();
			}
		});
	})();
</script>

</html>